@import "tailwindcss";

@theme {
  --color-primary: #5ac268;
  --color-secondary: "#EEF9F0";
}
@theme {
  --font-display: "Satoshi", "sans-serif";
  --breakpoint-3xl: 1920px;
  --color-primary: oklch(0.7307 0.1598 146.42);
  --color-secondary: oklch(0.9714 0.0166 151.11);
  --ease-fluid: cubic-bezier(0.3, 0, 0, 1);
  --ease-snappy: cubic-bezier(0.2, 0, 0, 1);
  /* ... */
}

@keyframes slide-up {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}
.animate-slide-up {
  animation: slide-up 0.3s ease-out forwards;
}
